@import '~bootstrap/scss/bootstrap';

body {
  background: url(public/geometric-blue-seamless-pattern-background-simple-vector-22649200.jpg);
}

.input-field {
  border: 2px solid black;
}

.btn-primary {
  background-color: green;
  border: 2px solid black;
}

.success {
  color: green;
}

.failure {
  color: red;
}

#authenticated {
  display: none;
}

.box {
  align-items: center;
  background-color: gray;
  border: 5px solid black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.box:hover {
  background-color: #F5F5F5;
}
