@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}
@font-face {
  font-family: 'Shadows Into Light', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);
}

body {
  background: url(public/geometric-blue-seamless-pattern-background-simple-vector-22649200.jpg);
  font-family: 'Raleway', sans-serif;
}

.sign-up-form {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#name-header {
  display: flex;
  border: 4px solid #B95C3F;
  background-color: lightgray;
  border-radius: 25px;
  text-align: center;
  padding: 15px;
  margin: 12px;
  font-size: 75px;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  font-family: 'Shadows Into Light', cursive;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  padding: 20px;
}

.game-display-content {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.input-field {
  border: 2px solid black;
  border-radius: 5px;
}

.btn-primary {
  background-color: #3FB9B4;
  border: 2px solid black;
  border-radius: 5px;
}

.success {
  display: inline-flex;
  color: white;
  border: 1px solid black;
  background-color: green;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.failure {
  display: inline-flex;
  color: white;
  border: 1px solid black;
  background-color: red;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

#authenticated {
  display: none;
}

.box {
  align-items: center;
  background-color: transparent;
  // border: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  user-select: none;
  font-size: 12vh;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.box:hover {
  background-color: #3FB9B4;
  opacity: 0.5;
}
