@import '~bootstrap/scss/bootstrap';

.success {
  color: green;
}

.failure {
  color: red;
}

#authenticated {
  display: none;
}

.box {
  align-items: center;
  background-color: gray;
  border: 5px solid black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.box:hover {
  background-color: #F5F5F5;
}
